---
import ArrowRigth from "../iconos/ArrowRigth.astro";

const {
  titulo = "",
  imagen = "",
  subTitulo = "",
  referencia = "",
} = Astro.props;
---

<a href={referencia}>
  <div
    class="flex flex-col gap-3 hover:bg-white rounded-md overflow-hidden dark:bg-[#0f0f10] border-[#5e5d5d] border dark:hover:bg-[#222224] duration-300 dark:hover:border-[#9e9d9d]"
  >
    <div class="h-48">
      <img
        src={`/imagenes/proyectos/${imagen}`}
        alt={`Parodi Lucas - Porfolio - ${imagen}`}
        loading="lazy"
        class="w-full h-full object-cover"
      />
    </div>
    <div class="px-1 py-5 sm:px-3">
      <h3 class="font-semibold text-xl">{titulo}</h3>
      <h4 class="text-gray-600 text-sm dark:text-gray-200">{subTitulo}</h4>
      <div class="mt-3 flex justify-between">
        <slot name="tecnologias" />
        <div>
          <ArrowRigth />
        </div>
      </div>
    </div>
  </div>
</a>
